.maindisplay {
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    align-items: center;
}

.img {
    border-radius: 50%;
    width: 300px;
    height: 300px; 
    object-fit: cover;
}

.header {
    padding: 50px;
    font-size: 60px;
}

.subtitle {
    padding-left: 50px;
    font-size: 40px;
    /* color: rgb(81, 146, 121); */
}